APP_ENV=
PORT=
VITE_API_URL=/api
VITE_PROXY_API_TARGET=http://localhost:3000

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PORT=

JWT_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=

PDF_STORAGE_PATH=
FRONT_REDIRECT_URL=
